/*webkit-sassui-text-justify Start*/
.webkit-sassui-text-justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0;
}

.webkit-sassui-text-justify > * {
  text-align: left;
  display: inline-block;
}

.webkit-sassui-text-justify:after {
  width: 100%;
  display: inline-block;
  content: "";
}

/*webkit-sassui-text-justify End*/
.f-normal {
  font-family: 'Courier New', Courier, monospace;
}

.test-webkit-sassui-text-justify {
  border: 1px solid #f00;
}
